<header> 
    <nav>
        <div class="headbar">
            <div class="title-icon">
                <a class="title-link" href="/">Marketbox</a>
            </div>
            <div class="headbar-icon">
                <a class="headbar-link" href="/users">Community</a>
            </div>
            <div class="headbar-icon">
                <a class="headbar-link" href="/auctions">Auctions</a>
            </div>
            <div class="headbar-icon">
                <a class="headbar-link" href="google.com">Login</a>
            </div>
            <div class="headbar-icon">
                <a class="headbar-link" href="google.com">My Account</a>
            </div>
            <div class="headbar-icon">
                <a class="headbar-link" href="google.com">MarketCoin</a>
            </div>
        </div>
    </nav>
</header>